
.featured-infos-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 2.5rem;
}
.average p{
    font-size: 1.3rem;
    color: #85ff85cb;
    font-weight: bold;
}