#navbar{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background: linear-gradient( to bottom, #111111ef, transparent);
    transition: all ease .8s;
    /* background-color: green; */
}
#navbar.black{
    background: #141414;
}
#navbar .left-container{
    height: 35px;
}
#navbar img{
    height: 100%;
}
#navbar form{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding-left: .3rem;
}
#navbar #search-input{
    border: none;
    height: 35px;
    outline: none;
    width: 0;
    background: transparent;
    transition: all .3s;
    color: #FFF;
}
#search-input::placeholder{
    color: #d8d8d8;
}
#navbar #search-btn{
    padding: .3rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
    transition: .5s;
    background: transparent;
    border: none;
    color: #FFF;
}
.right-container{
    display: flex;
    align-items: center;
}
#icon-user{
    height: 40px;
    display: flex;
    align-items: center;
}
#icon-user img{
    height: 100%;
    border-radius: 3px;
    margin-left: 3px;
}
#icon-notification{
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 .5rem;
}
#icon-notification svg{
    font-size: 1.8rem;
}