*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    background-color: #111;
    color: #FFF;
}
a{
    text-decoration: none;
    color: #FFF;
    transition: .5s;
}

/* Estilizando a barra de rolagem nos navegadores Chrome e Edge */
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background: #00000000;
}
body::-webkit-scrollbar-thumb {
    background-color: #e50914;
    border-radius: 20px;
    /* border: 3px solid orange; */
}
  
/* estilizando a barra de rolagem no navehador firfox */
body {
    scrollbar-width: thin;
    scrollbar-color: #e50914 #00000000;
}